<if !user_signed_in? %>

<br>
<%= link_to 'Download Topics', resumes_url, :class => 'btn btn-danger' %>
<br>
<br>
<%= form_tag topics_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>

<% @topics.each do |topic| %>
	<div class="topic">
	<h3><%= topic.title %></h3>
<!-- 	<p class="text-justify" ><%= topic.body %></p>
 -->	<p><%= topic.date %></p>

	<%= image_tag topic.image.url, class: "topic-show" if topic.image? %>
</div>

<!-- Voting like or dislike -->
<%= link_to like_topic_path(topic), class: "like", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Left Align">
    	<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
    	<span class="badge"><%= topic.get_upvotes.size %></span>
    </button>
 <% end %>

 <%= link_to unlike_topic_path(topic), class: "unlike", method: :put do %>
    <button type="button" class="btn btn-info" aria-label="Right Align">
    	<span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
    	<span class="badge"><%= topic.get_downvotes.size %></span>
    </button>
 <% end %>
 <!-- End of voting -->
<br>
<br>
	<% if current_user && current_user.admin? %>
		<%= link_to "Edit", edit_topic_path(topic), :class => 'btn btn-default' %>
	<%= link_to "Destroy", topic, :class => 'btn btn-default', method: :delete, data: {confirm: 'Are you sure?'} %>
	<% end %>
	<%= link_to "Show", topic_path(topic), :class => 'btn btn-default' %>
<% end %>

<div>
	<%= will_paginate @topic, renderer: BootstrapPagination::Rails %>
</end>

<h2>Most Popular Posts</h2>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/topics/2" target="_blank">
          <img src="/assets/elder.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>How to use skype</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/topics/6" target="_blank">
          <img src="/assets/fitbit.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>How does a fitbit benefit your health?</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/topics/13" target="_blank">
          <img src="/assets/laptop.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>How to set up emails</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
