<h3><%= @topic.title %></h3>
<br>
<!-- Image Show -->
<%= image_tag @topic.image.url, class: "topic-show" %>


<div class="col-md-6">
<br>
<br>
<p>Average Rating </p> 
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span>Based on <%= @topic.reviews.count %> reviews </span>
<div class= "text">
<p> <%= simple_format( @topic.body) %> </p>
<p><%= @topic.date %></p>
</div>
<br>
<% if current_user && current_user.admin? %>
<%= link_to "Edit", edit_topic_path(@topic), :class => 'btn btn-custom' %>
<%= link_to "Delete", topic_path(@topic),
					method: :delete,
					data: {confirm: 'Are you sure?'},
					:class => 'btn btn-custom' %>
<br>
<br>
</div>

<div class="col-md-9">
<%= link_to "Click here to write a review!", new_topic_review_path(@topic), :class => 'btn btn-custom' %>
<% end %>

</div>
<br>
<br>


<!-- Video Show -->
<% if @topic.video.url %>
	<iframe width="800" height="500" src="<%= @topic.video.url %>" ></iframe>
	<br>
	<br> 
<% end %>
<br>
<br>
<br>
<br>

9<div class="row">
	<div class="col-md-10">
	<div class="reviews">
<h3>Reviews</h3>
<% if @reviews.blank? %>
	          <h3>No reviews just yet, would you like to add the first?</h3>
	          <%= link_to "Write Review", new_topic_review_path(@topic), class: "btn btn-danger" %>
	        <% else %>
<!-- Where the reviews/ratings will go  -->
<%= render @topic.reviews %>
<% end %>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<br>
<%= link_to 'Back', topics_path %>




