<%= form_for @appointment do |f| %>
  <%= render 'errors' %>
  <%= f.label 'Subject', 'Reason for appointment' %>
  <%= f.text_field 'name', placeholder: 'Short description'%>
  <%= f.submit 'Submit' %>
<br>
<br>
  <p>Please let us know the reason for booking the appointment, click "Submit" and add the time of your preffered choice!</p> 
<% end %>

