<h3>appointments</h3>

<%= link_to "New Appointment", new_appointment_path,:class => 'btn btn-warning' %>

<% @appointments.each do |appointment| %>	
  <div class="appointment">
    <%= appointment.name %>    
    <%= link_to "Edit", edit_appointment_path(appointment),:class => 'btn btn-info' %>
	<%= link_to "Delete", appointment_path(appointment), data: { confirm: 'Are you sure?' }, method: :delete, :class => 'btn btn-info'  %>    
	<%= link_to "Add time", new_appointment_booking_path(appointment), :class => 'btn btn-info' %>  
    <%= link_to "Show my booking", appointment_bookings_path(appointment), :class => 'btn btn-info' %>
 </div>
<% end %>



