<%= simple_form_for ([@topic, @topic.reviews.build]) do |f| %>
<div id="rating-form">
<label>Rating</label>
	</div>
<br>
<br>
<%= f.label :username %>
<%= f.text_field(:username) %>
<%= f.input :comment %>
<%= f.button :submit %> 

<% end %>

<script>
$('#rating-form').raty({
	path: '/assets/',
	scoreName: 'review[rating]'
});
</script>

