<div class="review">

<!-- Display for reviews -->
<p><strong><%= review.username %></strong></p> 
<%= @topic.user_id %>
<div class="review-rating" data-score="<%= review.rating %>"></div>
<p class="review-comment"><%= review.comment %></p>

<!-- Only if user signed in, display edit and delete -->
<% if user_signed_in? %>
<% if review.user_id == current_user.id %>

<%= link_to "Edit", edit_topic_review_path(review.topic, review) %>
<%= link_to "Delete", topic_review_path(review.topic, review), method: :delete, data: { confirm: "Are you sure?"} %>

<% end %>

<% end %>

</div>