<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @senior.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @senior.email %>
</p>

<%= link_to 'Edit', edit_senior_path(@senior) %> |
<%= link_to 'Back', seniors_path %>
