<footer class="footer">
<nav>
	<div class="socialmedia">
	 <%= link_to "http://www.facebook.com" do %>
             <img class="facebook" src="../assets/facebook.jpg" 
              width ="75" heigh = "75" alt="">
              <% end %>
             <%= link_to "http://www.twitter.com" do %>
              <img class="twitter" src="../assets/twitter.jpg"
              width ="75" heigh = "75" alt=""> 
              <% end %>
             <%= link_to "http://www.instagram.com" do %>
              <img class="instagram" src="../assets/instagram.jpg" 
              width ="75" heigh = "75" alt=""> 
              <% end %>
             <%= link_to "http://www.snapchat.com" do %>
              <img class="snapchat" src="../assets/snapchat.jpg" 
              width ="75" heigh = "75" alt=""> 
              <% end %>
             <%= link_to "http://www.youtube.com" do %>
              <img class="youtube" src="../assets/youtube.jpg" 
              width ="75" heigh = "75" alt=""> 
              <% end %>
    </div>
</nav>
</footer>

