<!DOCTYPE html>
<html>
<head>
  <h2>TechMadeEasy</h2>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <!-- Resizing font -->
  <div id="acess-icons" class="" style="display: block; font-size: 16px;">
            <div class="acess-icon" style="font-size: 16px;"><img id="increaseFont" title="Increase Font" src="assets/fontsma40.png" class="" style="font-size: 16px;"></div>
            <div class="acess-icon" style="font-size: 16px;"><img id="decreaseFont" title="Decrease Font" src="assets/fontsme40.png" class="" style="font-size: 16px;"></div>
        </div>
    </div>
  <br>
  <div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
